flows.json
[
    {
        "id": "367c9573de179f18",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "02a4ad2eba83431b",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "30472f125f509ece",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac3aa3585c8f4de7",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b97f9d2def92f066",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d9c2a2ef9d0809f9",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7c29b51f12c4ee3b",
        "type": "ui_group",
        "name": "Default",
        "tab": "b97f9d2def92f066",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "23df7d89d6367114",
        "type": "inject",
        "z": "367c9573de179f18",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 140,
        "wires": [
            [
                "d535bc82ee183e91"
            ]
        ]
    },
    {
        "id": "2983a6e6bd5bccc3",
        "type": "debug",
        "z": "367c9573de179f18",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 140,
        "wires": []
    },
    {
        "id": "d535bc82ee183e91",
        "type": "template",
        "z": "367c9573de179f18",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "2983a6e6bd5bccc3",
                "a3429e1335bc26b4"
            ]
        ]
    },
    {
        "id": "40aba0924759bd3b",
        "type": "http in",
        "z": "367c9573de179f18",
        "name": "home",
        "url": "/test-home",
        "method": "get",
        "upload": true,
        "swaggerDoc": "",
        "x": 50,
        "y": 220,
        "wires": [
            [
                "988544936c8e9a49"
            ]
        ]
    },
    {
        "id": "988544936c8e9a49",
        "type": "function",
        "z": "367c9573de179f18",
        "name": "function test",
        "func": "let name = msg.req.query.name || \"stranger\";\nmsg.payload = `<h1>Hello, ${name}!</h1>`;\nmsg.headers = {\n    'Content-Type': 'text/html'\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 220,
        "wires": [
            [
                "ed3b9ca52ea439c4"
            ]
        ]
    },
    {
        "id": "ed3b9ca52ea439c4",
        "type": "http response",
        "z": "367c9573de179f18",
        "name": "testing return",
        "statusCode": "200",
        "headers": {},
        "x": 450,
        "y": 340,
        "wires": []
    },
    {
        "id": "350b477663904833",
        "type": "function",
        "z": "367c9573de179f18",
        "name": "Test Env",
        "func": "msg.payload = env.get(\"NODE_ENV\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 440,
        "wires": [
            [
                "9504fd96f00e1cbc",
                "997fbec0dce6609e"
            ]
        ]
    },
    {
        "id": "9504fd96f00e1cbc",
        "type": "debug",
        "z": "367c9573de179f18",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "cffd9c04a0c57099",
        "type": "inject",
        "z": "367c9573de179f18",
        "name": "environment test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "350b477663904833"
            ]
        ]
    },
    {
        "id": "e0ee5963383b30d9",
        "type": "inject",
        "z": "367c9573de179f18",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "16a41f73729b7ca9"
            ]
        ]
    },
    {
        "id": "16a41f73729b7ca9",
        "type": "http request",
        "z": "367c9573de179f18",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://httpbin.org/get",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 540,
        "wires": [
            [
                "8472bb4e892811ef"
            ]
        ]
    },
    {
        "id": "8472bb4e892811ef",
        "type": "debug",
        "z": "367c9573de179f18",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 540,
        "wires": []
    },
    {
        "id": "997fbec0dce6609e",
        "type": "debug",
        "z": "367c9573de179f18",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 340,
        "wires": []
    },
    {
        "id": "8da57dd222c2c771",
        "type": "http in",
        "z": "02a4ad2eba83431b",
        "name": "LoginComponent",
        "url": "/login",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "c06d4453c992933e",
                "0abd1a2cd75acb9d"
            ]
        ]
    },
    {
        "id": "c06d4453c992933e",
        "type": "function",
        "z": "02a4ad2eba83431b",
        "name": "function 1",
        "func": "msg.payload = `\n<!DOCTYPE html>\n<html>\n  <head><title>Login</title></head>\n  <body>\n    <h2>Login</h2>\n    <form method=\"POST\" action=\"/login\">\n      <input type=\"text\" name=\"username\" placeholder=\"Username\" required /><br/>\n      <input type=\"password\" name=\"password\" placeholder=\"Password\" required /><br/>\n      <button type=\"submit\">Login</button>\n    </form>\n  </body>\n</html>\n`;\nmsg.headers = { 'Content-Type': 'text/html' };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 100,
        "wires": [
            [
                "f50f18675d717331"
            ]
        ]
    },
    {
        "id": "f50f18675d717331",
        "type": "http response",
        "z": "02a4ad2eba83431b",
        "name": "Login Page",
        "statusCode": "200",
        "headers": {},
        "x": 490,
        "y": 100,
        "wires": []
    },
    {
        "id": "0abd1a2cd75acb9d",
        "type": "debug",
        "z": "02a4ad2eba83431b",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 200,
        "wires": []
    },
    {
        "id": "13a4f303c52d089f",
        "type": "http in",
        "z": "30472f125f509ece",
        "name": "Login Post",
        "url": "/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "4c7e8cde4f26b6fe"
            ]
        ]
    },
    {
        "id": "96a96d5fdd71d343",
        "type": "http response",
        "z": "30472f125f509ece",
        "name": "Testing Login",
        "statusCode": "200",
        "headers": {},
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "4c7e8cde4f26b6fe",
        "type": "function",
        "z": "30472f125f509ece",
        "name": "function 2",
        "func": "const { username, password } = msg.req.body;\n\nif (username === \"bro\" && password === \"1234\") {\n    msg.payload = `<h1>Welcome, ${username}!</h1>`;\n} else {\n    msg.payload = `<h1>Login Failed</h1>`;\n}\n\nmsg.headers = { 'Content-Type': 'text/html' };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 80,
        "wires": [
            [
                "96a96d5fdd71d343",
                "75b23d3e661f9c89"
            ]
        ]
    },
    {
        "id": "75b23d3e661f9c89",
        "type": "debug",
        "z": "30472f125f509ece",
        "name": "testing debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 160,
        "wires": []
    },
    {
        "id": "33a86ce5ed50fea7",
        "type": "http in",
        "z": "ac3aa3585c8f4de7",
        "name": "test ui",
        "url": "/test-ui",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 70,
        "y": 140,
        "wires": [
            [
                "e60ca289aa90f93d"
            ]
        ]
    },
    {
        "id": "e60ca289aa90f93d",
        "type": "ui_button",
        "z": "ac3aa3585c8f4de7",
        "name": "Test",
        "group": "7c29b51f12c4ee3b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 140,
        "wires": [
            []
        ]
    }
]